/* Бек цвет #ffffff */
/* Цвет бека героя #2E2F42 */
/* Цвет заголовков и списка хедера #2E2F42 */
/* Цвет обычного текста и адреса   #434455 */
/* Цвет футера текста и Studio  #F4F4FD */
/* Цвет героя и кнопки #FFFFFF */
/* Цвет Web и кнопки #4D5AE5 */
/* Active text #404BBF */
/* Боди */

:root {
  --primary-text-color: #434455;
  --secondary-color-text: #2e2f42;
  --background-color: #ffffff;
  --accent-color: #404bbf;
  --primary-brand: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-background: #f4f4fd;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}
*, ::after, ::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
margin-top: 0;
margin-bottom: 0;
}
/* Basic-Stuff */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc
}
.header-all {
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}
.nav-logo {
  color: var(--secondary-color-text)
}
/* Nav */
.nav-menu {
  display: flex;

  margin-left: 76px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.nav-menu .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-menu .item:not(:last-child) {
  margin-right: 40px;
}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: var(--accent-color);
}
.nav-link {
  color: var(--secondary-color-text);
}
/* Adress */
.address .address-link:hover,
.address .address-link:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
}
.address-list .item:not(:last-child) {
  margin-right: 40px;
}
.address .address-link {
font-size: 16px;
line-height: 1.5;

color: var(--primary-text-color);
}
/* Links */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

/* Hero Main*/
.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-section .hero-text{
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 188px;
  max-width: 496px;
}
.hero-section .hero-buttom {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px;
}
.hero-section .hero-buttom:hover,
.hero-section .hero-buttom:focus {
  background-color: #404bbf;
}

/* Button Portfolio*/
.filters-buttons {
  display: flex;
  gap: 24px;
  justify-content:center;
  margin-top: 96px;

}
.filters-buttons .button-filter {
  color: var(--primary-brand);
  background-color: var(--secondary-background);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-filter:focus,
.button-filter:hover {
  background-color: #404BBF;
  color: #FFFFFF;
}
/* Section */
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.section-features .features-head {
  color: var(--secondary-color-text);
  background-color: var(--fotter-textr);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
}
.features-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
  
}
.features-list .item {
  flex-wrap: wrap;
}
.example-title {
  padding-bottom: 120px;
}
.example-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}
.example-title .example-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  margin-bottom: 72px;
}
/* section team */
.team-image {
  background-color: var(--background-color)
}
.section-team {
  background-color:var(--secondary-background);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team .team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  background-color: var(--secondary-background);
  
}
.section-team .team-card {
  background-color: var(--background-color);
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  border-radius: 0px 0px 4px 4px;
}
.team-head {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.team-text-all {
  padding-top: 32px;
  padding-bottom: 32px; 
  padding-left: 16px; 
  padding-right: 16px
}
.section-team,
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.cards-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px; 
}
.card-title .item {
  width: 360px;
  margin-bottom: 48px;
}
.cards-title .item:nth-child(3n) {
  margin-right: 0px;
}
.cards-title .cards-head  {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--secondary-color-text)

}
.cards-title .cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Footer */
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}
.footer {
  background-color: var(--secondary-color-text);
  color: var(--secondary-background);
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer .footer-text {
  color: var(--secondary-background);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}
.footer-logo-web {
  color: var(--primary-brand);
  color: var(--secondary-background);
}
